<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.links li a {
  display: block;         
  max-width: 100%;        
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis; 
}
</style>
</head>
<body>
	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<section class="col-3 col-6-narrower col-12-mobilep">
					<h3>인기 컨텐츠 Top10</h3>
					<ul class="links">
						<li th:each="vo:${tList}"><a th:href="@{/contents/detail(b_id=${vo.b_id})}">[[${vo.b_title}]]</a></li>
					</ul>
				</section>
				<section class="col-3 col-6-narrower col-12-mobilep">
					<h3>맛집 Top10</h3>
					<ul class="links">
						<li th:each="vo:${fList}"><a th:href="@{/food/detail(fno=${vo.fno})}">[[${vo.name}]]</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower">
					<h3>실시간 뉴스</h3>
					<form>
						<div class="row gtr-50">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="col-12">
								<textarea name="message" id="message" placeholder="Message"
									rows="5"></textarea>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" class="button alt"
										value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>
</html>