<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<nav id="nav">
    <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">컨텐츠</a>
            <ul>
                <li><a href="/contents/list">컨텐츠 목록</a></li>
                <li><a href="#">컨텐츠 검색</a></li>
            </ul>
        </li>
        <li><a href="#">문화</a>
            <ul>
                <li><a href="/culture/theater">연극</a></li>
                <li><a href="/culture/exhibition">전시</a></li>
                <li><a href="/culture/activity">액티비티</a></li>
            </ul>
        </li>
        <li><a href="/food/list">맛집</a> </li>
        <li><a href="/board/list">커뮤니티</a></li>
    </ul>

    <div class="nav-login" th:if="${session.id==null}">
        <div class="login-form">
            <label>ID</label>
            <input type="text" ref=id class="input-sm" size="15" v-model="id">
			&nbsp;
            <label>PW</label>
            <input type="password" ref=pwd class="input-sm" size="15" v-model="pwd">
        </div>
		&nbsp;
        <button type="button" class="btn-primary btn-sm login-btn" @click="login()" style="margin-right: 20px">
            로그인
        </button>
    </div>

    <!-- 로그인 후 -->
    <div class="nav-login" th:if="${session.id!=null}">
        <span style="color: white">[[${session.name}]]님</span>
        &nbsp;
        <button type="button" class="btn-primary btn-sm" @click="logout()" style="margin-right: 20px">로그아웃</button>
    </div>
</nav>
	
	<script>
			 const logApp=Vue.createApp({
				 data(){
					 return {
						 id:'',
						 pwd:'',
						 vo:{}
					 }
				 },
				 methods:{
					 // 로그인 
					 login(){
						 if(this.id==="")
						 {
							 this.$refs.id.focus()
							 return
						 }
						 if(this.pwd==="")
						 {
							 this.$refs.pwd.focus()
							 return
						 }
						 axios.get('http://localhost/member/login_vue/',{
							params:
								{
								 id:this.id,
								 pwd:this.pwd
								}
							 
						 }).then(response=>{
							 console.log(response.data)
							 this.vo=response.data
							 if(response.data.msg==='OK')
							 {
								 location.href="/"
							 }
							 else if(response.data.msg==='NOID')
							 {
								 alert("아이디 존재하지 않습니다")
								 this.id=""
								 this.pwd=""
								 this.$refs.id.focus()
							 }
							 else if(response.data.msg==='NOPWD')
							 {
								 alert("비밀번호가 틀립니다!!")
								 this.pwd=""
								 this.$refs.pwd.focus()
							 }
						 })
					 },
					 // 로그아웃
					 logout(){
						 axios.get('http://localhost/member/logout_vue/')
						 .then(response=>{
							 if(response.data==='yes')
							 {
								 location.href="/"
							 }
						 })
					 }
				 }
				 
			 })
			 logApp.config.compilerOptions.delimiters=['((','))']
             logApp.mount("#nav")
		</script>
</body>
</html>