<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">


</style>
</head>
<body>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>contents / food / travel</h2>
				<p>by Spring-Boot & Thymeleaf</p>
			</header>
		</div>
	</section>
	<!-- Highlights -->
	<section class="wrapper style1">
  <div class="container">
    <h3 class="section-title">최신 컨텐츠</h3>

    <div class="row gtr-50"> <!-- 간격 줄임 -->
      <section class="col-3" th:each="vo:${rList}">
        <div class="content-item">
          <img th:src="${vo.b_thumbnail}" class="content-thumb" style="width: 100%">

          <div class="content-text">
            <span class="content-filter">[[${vo.b_filter}]]</span>
            <p class="content-title">[[${vo.b_title}]]</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

	

	<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="col-6 col-12-narrower">
					<div class="box post">
						<a href="#" class="image left"><img src="/images/pic01.jpg"
							alt="" /></a>
						<div class="inner">
							<h3>The First Thing</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et
								dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse
								eu.</p>
						</div>
					</div>
				</section>
				<section class="col-6 col-12-narrower">
					<div class="box post">
						<a href="#" class="image left"><img src="/images/pic02.jpg"
							alt="" /></a>
						<div class="inner">
							<h3>The Second Thing</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et
								dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse
								eu.</p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="col-6 col-12-narrower">
					<div class="box post">
						<a href="#" class="image left"><img src="/images/pic03.jpg"
							alt="" /></a>
						<div class="inner">
							<h3>The Third Thing</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et
								dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse
								eu.</p>
						</div>
					</div>
				</section>
				<section class="col-6 col-12-narrower">
					<div class="box post">
						<a href="#" class="image left"><img src="images/pic04.jpg"
							alt="" /></a>
						<div class="inner">
							<h3>The Fourth Thing</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et
								dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse
								eu.</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper style3">
		<div class="container">
			<header>
				<h2>Are you ready to continue your quest?</h2>
				<a href="#" class="button">Insert Coin</a>
			</header>
		</div>
	</section>
</body>
</html>