<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
a {
	text-decoration: none;
	color: black;
}
</style>
</head>
<body>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>contents & culture & food</h2>
				<p>Spring-Boot, Thymeleaf</p>
			</header>
		</div>
	</section>
	<!-- Highlights -->
	<section class="wrapper style1">
  <div class="container">
    <h3 class="section-title" style="height: 35px">최신 컨텐츠</h3>

    <div class="row gtr-50"> <!-- 간격 줄임 -->
      <section class="col-3" th:each="vo:${rList}">
       <a th:href="@{/contents/detail(b_id=${vo.b_id})}">
        <div class="content-item">
          <img th:src="${vo.b_thumbnail}" class="content-thumb" style="width: 100%">

          <div class="content-text">
            <span class="content-filter">[[${vo.b_filter}]]</span>
            <p class="content-title">[[${vo.b_title}]]</p>
          </div>
        </div>
       </a>
      </section>
    </div>
  </div>
</section>
<!-- 맛집 -->
	<section class="wrapper style1">
		<div class="container">
		  <div style="height: 90px">
		    <h3 class="section-title" th:if="${sessionAddr==''}">서울 맛집</h3>
		    <h3 class="section-title" th:if="${sessionAddr!=''}">내 주변 맛집</h3>
		  </div>
			<div class="row">
				<section class="col-6 col-12-narrower" style="padding: 0 0 0 15px" th:each="fvo:${mfList}">
					<div class="box post">
						<a th:href="@{/food/detail(fno=${fvo.fno})}" class="image left"><img th:src="${fvo.poster}" width="170" height="120"></a>
						<div class="inner" style="padding-top: 5px">
							<h3>[[${fvo.name}]]</h3>
							<p>[[${fvo.type}]]</p>
							<p style="font-size: 10px">[[${fvo.address}]]</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	<!-- 문화 생활 -->
	<section class="wrapper style1" style="padding-top:20px">
		<div class="container">
		  <div style="margin-bottom: 60px">
		    <h3 class="section-title">문화 생활</h3>
		  </div>
			<div class="row">
				<section class="col-6 col-12-narrower" style="padding: 0 0 0 15px" th:each="cvo:${cList}">
					<div class="box post">
						<a th:href="@{/culture/detail(no=${cvo.no})}" class="image left"><img th:src="${cvo.main_img}" width="170" height="120"></a>
						<div class="inner" style="padding-top: 5px">
							<h3>[[${cvo.name}]]</h3>
							<p>[[${cvo.m_cate}]]</p>
							<p style="font-size: 10px">[[${cvo.address}]]</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</body>
</html>