<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
th {
	background-color: #f5f5f5 !important;
}
</style>
</head>
<body>
<div id="main-wrapper">
  <section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h3>내용보기</h3>
			</header>
		</div>
	</section>
	<div class="container" style="margin-top: 80px">
	
		<div class="row aln-center">
		  <table class="table">
		    <tbody>
		      <tr>
		        <th class="success text-center" width=20%>번호</th>
		        <td class="text-center" width=30%>[[${vo.no}]]</td>
		        <th class="success text-center" width=20%>작성일</th>
		        <td class="text-center" width=30%>[[${vo.regdate}]]</td>
		      </tr>
		      <tr>
		        <th class="success text-center" width=20%>이름</th>
		        <td class="text-center" width=30%>[[${vo.name}]]</td>
		        <th class="success text-center" width=20%>조회수</th>
		        <td class="text-center" width=30%>[[${vo.hit}]]</td>
		      </tr>
		      <tr>
		        <th class="success text-center" width=20%>제목</th>
		        <td class="text-left" colspan="3">[[${vo.subject}]]</td>
		      </tr>
		      <tr>
		        <td class="aln-left" valign="top" height="200" colspan="4">
		         <pre style="white-space: pre-wrap; background-color: white; border: none">[[${vo.content}]]</pre>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="4" class="text-right">
		          <a th:href="@{/board/update(no=${vo.no})}" class="btn btn-xs btn-warning">수정</a>
		          <a th:href="@{/board/delete(no=${vo.no})}" class="btn btn-xs btn-info">삭제</a>
		          <a href="/board/list" class="btn btn-xs btn-success">목록</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>
<!-- 댓글 -->
    <div class="row aln-text" style="margin-top: 10px; width: 800px">
      <table class="table">
         <tr>
            <td>
               <table class="table" v-for="rvo in list">
                  <tr>
                     <td class="text-left" width="80%">
                        ◑((rvo.name))&nbsp;((rvo.dbday))
                     </td>
                     <td class="text-right" width="20%">
                        <span v-if="sessionId===rvo.id">
                           <button type=button class="btn btn-xs btn-warning upbtn" :id="'u'+rvo.no" @click="replyUpdateForm(rvo.no)">수정</button>
                           <button type="button" class="btn btn-xs btn-info" @click="replyDelete(rvo.no)">삭제</button>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2" class="text-left">
                        <pre style="white-space: pre-wrap;background-color: white;border: none">((rvo.msg))</pre>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <table class="table ups" style="display:none" :id="'up'+rvo.no">
                         <tr>
                          <td>
                           <textarea rows="5" cols="70" style="float: left" :id="'umsg'+rvo.no">((rvo.msg))</textarea>
                           <button type=button class="btn-primary" style="width: 100px;height: 99px;float: left" @click="replyUpdate(rvo.no)">댓글수정</button>
                          </td>
                         </tr>
                      </table>
                   </td>
                </tr>
               </table>
            </td>
         </tr>
      </table>
      <table class="table" th:if="${session.id!=null}">
       <tr>
        <td>
         <textarea rows="5" cols="70" style="float: left" v-model="msg" ref="msg" @keyup.enter="insert()"></textarea>
         <button type=button class="btn-primary" style="width: 100px;height: 99px;float: left" @click="insert()">댓글쓰기</button>
        </td>
       </tr>
      </table>
    </div>
   </div>
   </div>
   <script>
    const commentApp=Vue.createApp({

       data(){
          return {
             list:[],
             cno:'[[${vo.no}]]',
             sessionId:'[[${sessionId}]]',
             msg:'',
             type:101,
             up:false
          }
       },

       mounted(){

          axios.get('http://localhost/comment/list_vue/',{
             params:{
                cno:this.cno,
                type:this.type
             }
          }).then(response=>{
             console.log(response.data)
             this.list=response.data.list
             this.cno=response.data.cno
             this.type=response.data.type
          })
       },
       methods:{
          insert(){
             if(this.msg==='')
             {
                this.$refs.msg.focus()
                return
             }
             axios.post('http://localhost/comment/insert_vue/',{
                cno:this.cno,
                type:this.type,
                msg:this.msg
             }).then(response=>{
                 console.log(response.data)
                 this.list=response.data.list
                 this.cno=response.data.cno
                 this.type=response.data.type
              })
              this.msg=""
              this.$refs.msg.focus()
          },
          replyDelete(no){
             axios.get('http://localhost/comment/delete_vue/',{
                params:{
                   no:no,
                   cno:this.cno,
                   type:this.type
                }
             }).then(response=>{
                 console.log(response.data)
                 this.list=response.data.list
                 this.cno=response.data.cno
                 this.type=response.data.type
              })
          },
          replyUpdateForm(no) {
        	  $('.ups').hide()
        	  $('.upbtn').text("수정")
        	  if(this.up===false) {
        		  this.up=true
        		  $('#up'+no).show()
        		  $('#u'+no).text("취소")
        	  } else {
        		  this.up=false
        		  $('#up'+no).hide()
        		  $('#u'+no).text("수정")
        	  }
          },
          replyUpdate(no) {
        	  let msg = $('#umsg' + no).val();
        	  if(msg==="") {
        		  $('#umsg'+no).focus()
        		  return
        	  }
        	  
        	  axios.get('http://localhost/comment/update_vue/', {
        		  params:{
        			  no:no,
        			  cno:this.cno,
        			  type:this.type,
        			  msg:msg
        		  }
        	  }).then(response=>{
                  console.log(response.data)
                  this.list=response.data.list
                  this.cno=response.data.cno
                  this.type=response.data.type
                  $('#up'+no).hide()
                  $('#u'+no).text("수정")
               })
          }
       }
    })
    commentApp.config.compilerOptions.delimiters=['((','))']
    commentApp.mount("#main-wrapper")
   </script>
</body>
</html>