<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>컨텐츠 상세보기</h2>
			</header>
		</div>
	</section>
   <div id="main-wrapper" style="margin-top: 130px">
   <div class="container">
      <div class="row aln-center">
        <table class="table">
          <tr>
            <td class="text-center" rowspan="9" width=30%>
             <img th:src="${vo.b_thumbnail}" style="width:300px;height: 250px"> 
            </td>
            <td colspan="2">
             <div>
               <h3>[[${vo.b_title}]]</h3>
             </div>
             
            </td> 
          </tr>
          <tr>
            <th width=10%>종류</th>
            <td width="60%" class="aln-left">[[${vo.b_type}]] | [[${vo.b_filter}]]</td>
          </tr>
          
          <tr>
            <th width=10%>작업 방식</th>
            <td width="60%" class="aln-left"
    		th:text="${vo.b_prod_on_off == 'OFFLINE' ? '대면' : '비대면'}"></td>
          </tr>
          <tr>
            <th width=10%>서비스 지역</th>
            <td width="60%" class="aln-left">[[${svo.u_s_zone}]]</td>
          </tr>
          <tr>
            <th width=10%>셀러 이름</th>
            <td width="60%" class="aln-left">
              <div style="display: flex;">
              <div>
                <img th:src="${svo.u_s_profileimg_url}" style="width:30px;height: 30px; border-radius: 50px"> 
              </div>
              <div style="margin: 5px 0 0 10px">
                [[${svo.u_s_com}]]
              </div>
             </div>
            </td>
          </tr>
          <tr>
            <th width=10%>셀러 경력</th>
            <td width="60%" class="aln-left">[[${svo.u_s_carrer}]]</td>
          </tr>
        </table>
        
        <table class="table">
          <tr>
           <td>
            [[${vo.b_content}]]
           </td>
          </tr>
          <tr>
           <td class="text-right">
            <a href="javascript:history.back()" class="btn btn-xs btn-default">목록</a>
           </td>
          </tr>
        </table>
        <table class="table">
         <tr>
           <td>
             <div class="col-sm-3" th:each="vo:${list}">
            	<img th:src="${vo.b_img_url}" style="width:250px; height: 300px"> 	
      	  	</div>
           </td>
         </tr>
        </table>
   
   </div>
   </div>
</body>
</html>